<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Back to the basics">
    <meta name="keywords" content="HTML, CSS,JavaScript, NodeJs">
    <meta name="author" content="The Devout Programmer">
    <script src="../../../public/js/common/header/header.js" type="module" defer></script>
    <script src="../../../public/js/common/navbar/navbar.js" type="module" defer></script>
    <!-- <script src="../../../public/js/app.js" defer></script> -->
    <link rel="stylesheet" href="../../../public/css/common/head.css">

    <title>My Document Title</title>
    <!-- <base href="http://127.0.0.1:5500/index" target="_blank"> -->

</head>

<body>
    <app-header></app-header>
    <app-navbar></app-navbar>